<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="_container">
        <div class="header_first">
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <img id="logo" class="logo" src="images/Лого.png" alt="">
            <input type="text" name="" id="Main_search" placeholder="Название модели или артикул">
            <p>+7 495 221-06-75</p>
            <button id="Main_button" type="button">Заказать звонок</button>
            <img class="magazin" src="images/magazin.png" alt="">
        </div>
        <div class="header_nav">
            <button id="catalog_btn" type="button">
                <img src="images/catalog.png" alt="">
                Каталог
            </button>

            <nav class="menu">
                <ul>
                    <img  class="logo" src="images/Лого.png" alt="">
                    <li><a href="#">О продукте</a></li>
                    <li><a href="../rewiews/index.html">Отзывы</a></li>
                    <li><a href="../corzina/index.html">Доставка и оплата</a></li>
                    <li><a href="../contacts/index.html">Контакты</a></li>
                    <li ><a href="../catalog/index.html">Каталог</a></li>
                    <li><p>+7 495 221-06-75</p></li>
                </ul>

            </nav>
            <div class="magaz">
                <img src="images/magazin.png" alt="">
                <p>Моя корзина</p>
            </div>
        </div>
    </header>
    <main >
        <div class="defends _container">
            <h2>Ваш верный рыцарь, <br> защита и опора</h2>
            <h4>Samurai — так называется серия офисных кресел производства российской компании Метта, ничем не уступающих лучшим мировым образцам. Даже тех, кто с 
            ними уже знаком, кресла Самурай не престают удивлять:</h4>
            <div class="icons">
                <div class="icon">
                    <img src="images/ptichka.png" alt="">
                    <p>Cложные анатомически совершенные формы спинки и сиденья.</p>
                </div>
                <div class="icon">
                    <img src="images/ptichka.png" alt="">
                    <p>Cовременные типы обивки — модифицированная натуральная кожа и полупрозрачная карбоновая сетка;</p>
                </div>
                <div class="icon">
                    <img src="images/ptichka.png" alt="">
                    <p>Сгромный выбор — от экономичных моделей для самых бюджетных проектов до кресел с самым высшим уровнем эргономики;</p>
                </div>
                <div class="icon">
                    <img src="images/ptichka.png" alt="">
                    <p>Непривычное для российского производителя высокое качество изготовления;</p>
                </div>
                <div class="icon">
                    <img src="images/ptichka.png" alt="">
                    <p>Cамобытный запоминающийся дизайн;</p>
                </div>
            </div>
        </div>

        <div class="conveniences">
            <div class="conveniences_text _container">
                <h2>Индивидуальные удобства</h2>
                <h4>Отдельного внимания заслуживает множество эргономических опций и регулировок, которые в определенных 
                сочетаниях устанавливаются на разные модели кресел:</h4>
                <div class="texts">
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p>механизм качания с синхронным отклонением спинки и сиденья на 
                        разные углы и смещенной вперед осью наклона сиденья;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p> регулировка величины и положения поясничного изгиба;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p> регулировка глубины сиденья;;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p>регулировка высоты подлокотников и расположения на них верхних подушек;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p>регулировка высоты и наклона подголовника;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p>регулировка расстояния между подлокотниками;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p>регулировка уровня жесткости сиденья;</p>
                    </div>
                    <div class="text">
                        <img src="images/green ptichka.png" alt="">
                        <p>регулировка нагрузки механизма качания и 
                        фиксация положения спинки и сиденья в 5 положениях.</p>
                    </div>
                </div>
            </div>
            <div class="images _container">
                <img  src="images/kreslo.png" alt="">
            </div>
            
        </div>
        <div class="main_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5848.508298798211!2d74.5708881!3d42.8674796!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1648385627454!5m2!1sru!2s" width="1720" height="450" style="border:0;" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer>
        <div class="first">
            <img src="images/footerlogo.png" alt="">
            <h4>Политика конфиденциальности</h4>
            <h4>© 2021 Все права защищены</h4>
        </div>
        <div class="second">
            <nav>
                <ul>
                    <li><a href="#">О продукте</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>

            </nav>
        </div>
        <div class="third">
            <div class="icon">
                <img src="images/phoneicon.png" alt="">
                <p>+7 495 221-06-75</p>
            </div>
            <div class="icon">
                <img src="images/mailicon.png" alt="">
                <p>zakaz@kresla-samurai.ru</p>
            </div>
            <div class="icon">
                <img src="images/geolocate.png" alt="">
                <p>ул. Красного курсанта д.25, лит.в, оф. 114, бизнес-центр "RED CADET"</p>
            </div>
        </div>
    </footer>
    




    <script src="js/main.js"></script>
</body>
</html>